<div class="bg-light w-100 h-100 rounded">
  <div>
    <div class="p-6">
      <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">{{sharedService.getTranslateService().translate('label.danhsachgiaodan')}}</h1>
        <button class="btn btn-outline-primary">
          + {{sharedService.getTranslateService().translate('label.themgiaodan')}}
        </button>
      </div>

      <div class="flex gap-4 mb-4">
        <input type="text" placeholder="{{sharedService.getTranslateService().translate('label.placeholder.timtheoten')}}" class="border p-2 rounded w-1/3" />
        <select class="border p-2 rounded w-1/4">
          <option value="">-- {{ sharedService.getTranslateService().translate('label.chonnhom') }} --</option>
          <option>Giới trẻ</option>
          <option>Huynh đoàn</option>
          <option>Ban lễ sinh</option>
        </select>
        <button class="bg-gray-200 px-4 py-2 rounded btn btn-outline-primary ms-3">{{sharedService.getTranslateService().translate('label.loc')}}</button>
      </div>

      <table class="w-full border text-left shadow rounded">
        <thead class="bg-gray-100">
        <tr>
          <th class="p-2">Tên</th>
          <th class="p-2">Ngày sinh</th>
          <th class="p-2">Giới tính</th>
          <th class="p-2">Nhóm</th>
          <th class="p-2">Số điện thoại</th>
          <th class="p-2">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-b hover:bg-gray-50" *ngFor="let person of parishioners">
          <td class="p-2">{{ person.name }}</td>
          <td class="p-2">{{ person.birthDate  }}</td>
          <td class="p-2">{{ person.gender }}</td>
          <!--      <td class="p-2">{{ person.group }}</td>-->
          <!--      <td class="p-2">{{ person.phone }}</td>-->
          <td class="p-2">
            <button class="text-blue-600 hover:underline mr-2">Chi tiết</button>
            <button class="text-green-600 hover:underline mr-2">Sửa</button>
            <button class="text-red-600 hover:underline">Xóa</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
