<div class="card shadow-sm " style="width: 700px">
  <div class="card-header d-flex justify-content-between align-items-center">
    <button class="btn btn-outline-primary btn-sm" (click)="prevMonth()"><</button>
    <h5 class="mb-0">{{ getMonthYear() }}</h5>
    <button class="btn btn-outline-primary btn-sm" (click)="nextMonth()">> </button>
  </div>
  <div class="card-body">
    <table class="table table-bordered text-center ">
      <thead class="table-light">
      <tr>
        <th>{{ sharedService.getTranslateService().translate('col.cn') }}</th>
        <th>{{ sharedService.getTranslateService().translate('col.t2') }}</th>
        <th>{{ sharedService.getTranslateService().translate('col.t3') }}</th>
        <th>{{ sharedService.getTranslateService().translate('col.t4') }}</th>
        <th>{{ sharedService.getTranslateService().translate('col.t5') }}</th>
        <th>{{ sharedService.getTranslateService().translate('col.t6') }}</th>
        <th>{{ sharedService.getTranslateService().translate('col.t7') }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week">
          <button
            class="btn btn-outline-secondary border-0 p-2"
            [ngClass]="{'btn-secondary': isSelected(day)}"
            [style]="{'color': isSelected(day)? 'white': ''}"
            (click)="onDayClick(day)"
            [disabled]="!day">
            {{ day?.getDate() || '' }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
