<div class="card shadow rounded-4 p-4 bg-white">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-bold mb-0">
      <i class="bi bi-calendar3 text-primary me-2"></i>
      Lịch trình hôm nay
    </h4>
    <button class="btn btn-sm btn-outline-primary">
      <i class="bi bi-plus-circle me-1" data-bs-toggle="modal" data-bs-target="#addScheduleModal" (click)="this.resetInputAddSchedule()"></i> Thêm lịch
    </button>
  </div>

  <ul class="list-group list-group-flush" *ngIf="scheduleList.length > 0">
    <li class="list-group-item d-flex justify-content-between align-items-start border-0 px-0"
        *ngFor="let item of scheduleList | paginate: { itemsPerPage: 5, currentPage: currentPage }">

      <!-- Bên trái: Thông tin -->
      <div class="ms-2 me-auto">
        <div class="fw-semibold text-dark">
          {{ item.datetime | date: 'HH:mm' }} - {{ item.headline }}
          <span class="badge text-dark rounded-pill" [ngClass]="item.class">{{ item.label }}</span>
        </div>
        <small class="text-muted">{{ item.address }}</small>

        <!-- Checkbox hoàn thành -->
        <div class="form-check mt-1">
          <input class="form-check-input" type="checkbox"
                 [checked]="item.status === 2"
                 [disabled]="item.status === 2"
                 (change)="markAsCompleted(item)">
          <label class="form-check-label small">
            Đã hoàn thành
          </label>
        </div>
      </div>

      <!-- Bên phải: Nút thao tác -->
      <div class="mt-3">
        <button class="btn btn-sm btn-outline-secondary me-1"
                (click)="edit(item.id)"
                data-bs-toggle="modal"
                data-bs-target="#addScheduleModal">
          <i class="bi bi-pen-fill"></i>
        </button>
        <button class="btn btn-sm btn-outline-danger"
                (click)="edit(item.id)"
                data-bs-toggle="modal"
                data-bs-target="#deleteScheduleModal">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </li>

  </ul>
  <ul class="list-group list-group-flush" *ngIf="scheduleList.length <= 0">
    <h3 class="text-center text-success">Không có lịch nào trong ngày hôm nay!</h3>
  </ul>
</div>
<!-- Phân trang -->
<pagination-controls
  (pageChange)="currentPage = $event"
  previousLabel="Trước"
  nextLabel="Sau"
  class="mt-3 d-flex justify-content-center"
></pagination-controls>

<!-- Modal Thêm lịch -->
<form id="addScheduleForm" #addScheduleForm="ngForm" enctype="multipart/form-data">
  <div class="modal fade" id="addScheduleModal" tabindex="-1" aria-labelledby="addScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4 shadow">
<!--        <div *ngIf="error == 1"-->
<!--             class="error alert alert-danger mt-3 text-center"> {{ sharedService.getTranslateService().translate('error.text.taolichkhongthanhcong') }}-->
<!--        </div>-->
        <div *ngIf="errorMess "
             class="error alert alert-danger mt-3 text-center"> {{ errorMess }}
        </div>
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="addScheduleModalLabel">Thêm lịch trình mới</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
        </div>
        <div class="modal-body">
            <div class="mb-4">
              <label for="eventDate" class="form-label">Ngày</label>
              <input type="date" class="form-control" id="eventDate" [(ngModel)]="schedule.date" name="eventDate"
                     (ngModelChange)="validateDateTime()" required #eventDateRef="ngModel" [disabled]="idVisit != -1">
              <div *ngIf="eventDateRef.invalid && eventDateRef.touched && eventDateRef.errors?.['required']"
                   class="text-danger  text-center">
                {{ sharedService.getTranslateService().translate('label.date.batbuoc') }}
              </div>
              <div *ngIf="dateError" class="text-danger text-center">
                {{ dateError }}
              </div>
            </div>

            <div class="mb-4">
              <label for="eventTime" class="form-label">Thời gian</label>
              <input type="time" class="form-control" id="eventTime" [(ngModel)]="schedule.time"
                     (ngModelChange)="validateDateTime1()" name="eventTime" required #evemtTimeRef="ngModel" [disabled]="idVisit != -1">
              <div *ngIf="evemtTimeRef.invalid && evemtTimeRef.touched && evemtTimeRef.errors?.['required']"
                   class="text-danger  text-center">
                {{ sharedService.getTranslateService().translate('label.time.batbuoc') }}
              </div>
              <div *ngIf="timeError" class="text-danger text-center">
                {{ timeError }}
              </div>
            </div>
          <div class="mb-3">
            <label for="durationTime" class="form-label">Thời gian thực hiện</label>
            <input type="number"
                   class="form-control"
                   id="durationTime"
                   [(ngModel)]="schedule.durationMinutes"
                   (ngModelChange)="updateEndTime()"
                   name="durationTime"
                   #durationRef="ngModel"
                   required
                   min="5" [disabled]="idVisit != -1">
            <!-- Lỗi: không nhập gì -->
            <div *ngIf="durationRef.invalid && durationRef.touched && durationRef.errors?.['required']"
                 class="text-danger text-center">
              Vui lòng nhập thời gian thực hiện công việc.
            </div>

            <!-- Lỗi: nhỏ hơn 5 -->
            <div *ngIf="durationRef.invalid && durationRef.touched && durationRef.errors?.['min']"
                 class="text-danger text-center">
              Thời gian thực hiện công việc tối thiểu là 5 phút.
            </div>
          </div>

          <div class="mb-3">
            <label for="endTime" class="form-label">Thời gian kết thúc</label>
            <input type="time"
                   class="form-control"
                   id="endTime"
                   [value]="endTime"
                   disabled>
          </div>


          <div class="mb-3">
              <label for="headline" class="form-label">Tiêu đề</label>
              <input type="text" class="form-control" id="headline" [(ngModel)]="schedule.headline" name="eventTitle"
                     #eventTitleRef="ngModel"
                     required
              >
              <div *ngIf="eventTitleRef.invalid && eventTitleRef.touched && eventTitleRef.errors?.['required']"
                   class="text-danger  text-center">
                {{ sharedService.getTranslateService().translate('label.headline.batbuoc') }}
              </div>
            </div>
            <div class="mb-3">
              <label for="eventLocation" class="form-label">Địa điểm</label>
              <input type="text" class="form-control" id="eventLocation" [(ngModel)]="schedule.address"
                     name="eventLocation" required #eventLocationRef="ngModel">
              <div *ngIf="eventLocationRef.invalid && eventLocationRef.touched && eventLocationRef.errors?.['required']"
                   class="text-danger  text-center">
                {{ sharedService.getTranslateService().translate('label.address.batbuoc') }}
              </div>
            </div>
            <div class="mb-3">
              <label for="eventNotes" class="form-label">Ghi chú</label>
              <input type="text" class="form-control" id="eventNotes" [(ngModel)]="schedule.notes" name="eventNotes">
            </div>
            <div class="mb-3">
              <label for="eventType" class="form-label">Loại</label>
              <select class="form-select"
                      id="eventType"
                      [(ngModel)]="schedule.visitType"
                      name="eventType"
                      required
                      #eventTypeRef="ngModel">
                <option value="-1" disabled selected hidden="hidden">-- Chọn loại sự kiện --</option>
                <option value="SICK">Thăm bệnh</option>
                <option value="BLESSING">Ban phước</option>
                <option value="CONVENE">Họp</option>
                <option value="CONFESSION">Giải tội</option>
                <option value="WEDDING">Đám cưới</option>
                <option value="MASS">Thánh lễ</option>
                <option value="FUNERAL">Viếng tang</option>
              </select>

              <div *ngIf="(eventTypeRef.invalid || schedule.visitType === '-1') && eventTypeRef.touched"
                   class="text-danger text-center">
                {{ sharedService.getTranslateService().translate('label.visittype.batbuoc') }}
              </div>

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="saveSchedule()" [disabled]="addScheduleForm.invalid ||timeError || dateError || schedule.durationMinutes < 5">
            Lưu
          </button>

        </div>
      </div>
    </div>

  </div>
</form>



<!-- delete-schedule-modal.component.html -->
<div class="modal fade" tabindex="-1" role="dialog" id="deleteScheduleModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div *ngIf="error == 1"
           class="error alert alert-danger mt-3 text-center"> Xóa thất bại
      </div>
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa lịch trình</h5>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa lịch trình <strong>{{ schedule.headline }}</strong> vào ngày <strong>{{ schedule.date }}</strong> lúc <strong>{{ schedule.time }}</strong> không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="delete(idVisit)"  data-bs-dismiss="modal">Xóa</button>
      </div>
    </div>
  </div>
</div>





